<div class="wrapper">
    <div class="leftFooter">
        <div class="footerLogo">
            <img src="images/footerLogo.png" alt="">
        </div>
        <div class="footerNumber">
            8-961-525-91-91
        </div>
        <div class="timeAdressMail">
            <div class="workTime">
                <div class="footerText" data-i18n="footer.worktime">Время работы:</div>
                <div class="footerContent" data-i18n="footer.worktime.value">c 10:00 до 19:00</div>
            </div>
            <div class="footerAdress">
                <div class="footerText" data-i18n="footer.address">Адрес:</div>
                <div class="footerContent" data-i18n="footer.address.value">Краснодар, <br>ул. Московская 144 корп. - 1</div>
            </div>
            <div class="footerMail">
                <div class="footerText" data-i18n="footer.email">Почта:</div>
                <div class="footerContent" data-i18n="footer.email.value">mebelarko@mail.ru</div>
            </div>
        </div>
        <div class="instagram">
            <div class="instagramText" data-i18n="footer.instagram">Мы в Инстаграме</div>
            <div class="instagramLogo"><img src="images/instagramLogo.png" alt=""></div>
        </div>
    </div>
    <div class="rightFooter">
        <ul>
            <li data-i18n="footer.kitchens">Кухни</li>
            <li><a href="#" data-i18n="footer.modular_kitchens">Модульные кухни</a></li>
            <li><a href="#" data-i18n="footer.ready_kits">Готовые комплекты</a></li>
            <li><a href="#" data-i18n="footer.small_kitchens">Маленькие кухни</a></li>
            <li><a href="#" data-i18n="footer.corner_kitchens">Угловые кухни</a></li>
            <li><a href="#" data-i18n="footer.kitchen_corners">Кухонные уголки</a></li>
            <li><a href="#" data-i18n="footer.kitchen_tables">Столы кухонные</a></li>
            <li><a href="#" data-i18n="footer.kitchen_chairs">Стулья для кухни</a></li>
            <li><a href="#" data-i18n="footer.components">Комплектующие</a></li>
        </ul>

        <ul>
            <li data-i18n="footer.livingrooms">Гостинные</li>
            <li><a href="#" data-i18n="footer.modular">Модульные</a></li>
            <li><a href="#" data-i18n="footer.coffee_tables">Журнальные столы</a></li>
            <li><a href="#" data-i18n="footer.shelves">Полки</a></li>
            <li><a href="#" data-i18n="footer.tv_cabinets">Тумбы под ТВ</a></li>
            <li><a href="#" data-i18n="footer.wardrobes">Шкафы</a></li>
            <li><a href="#" data-i18n="footer.racks">Стеллажи</a></li>
        </ul>

        <ul>
            <li data-i18n="footer.bedrooms">Спальни</li>
            <li><a href="#" data-i18n="footer.beds">Кровати</a></li>
            <li><a href="#" data-i18n="footer.mattresses">Матрацы</a></li>
            <li><a href="#" data-i18n="footer.wardrobes">Шкафы</a></li>
            <li><a href="#" data-i18n="footer.dressers">Комоды</a></li>
            <li><a href="#" data-i18n="footer.vanity_tables">Столы туалетные</a></li>
            <li><a href="#" data-i18n="footer.nightstands">Тумбы прикроватные</a></li>
            <li><a href="#" data-i18n="footer.mirrors">Зеркала</a></li>
        </ul>

        <ul>
            <li data-i18n="footer.sofas">Диваны</li>
            <li><a href="#" data-i18n="footer.straight">Прямые</a></li>
            <li><a href="#" data-i18n="footer.corner">Угловые</a></li>
            <li><a href="#" data-i18n="footer.metal_frame">На металлокаркасе</a></li>
            <li><a href="#" data-i18n="footer.armchairs">Кресла</a></li>
        </ul>

        <ul>
            <li data-i18n="footer.children">Детские</li>
            <li><a href="#" data-i18n="footer.children_beds">Кровати</a></li>
            <li><a href="#" data-i18n="footer.children_shelves">Полки</a></li>
            <li><a href="#" data-i18n="footer.children_tables">Столы</a></li>
            <li><a href="#" data-i18n="footer.children_cabinets">Тумбы</a></li>
            <li><a href="#" data-i18n="footer.children_wardrobes">Шкафы</a></li>
            <li><a href="#" data-i18n="footer.children_dressers">Комоды</a></li>
        </ul>

        <ul>
            <li data-i18n="footer.hallways">Прихожие</li>
            <li><a href="#" data-i18n="footer.modular_hallways">Модульные</a></li>
            <li><a href="#" data-i18n="footer.shoeracks">Обувницы</a></li>
        </ul>

        <ul>
            <li><a href="#" data-i18n="footer.sliding_wardrobes">Шкафы-купе</a></li>
        </ul>
    </div>
</div>