        <div class="wrapper">
            <div class="leftFooter">
                <div class="footerLogo">
                    <img src="images/footerLogo.png" alt="">
                </div>
                <div class="footerNumber">
                    8-961-525-91-91
                </div>
                <div class="timeAdressMail">
                    <div class="workTime">
                        <div class="footerText">Время работы:</div>
                        <div class="footerContent">c 10:00 до 19:00</div>
                    </div>
                    <div class="footerAdress">
                        <div class="footerText">Адрес:</div>
                        <div class="footerContent">Краснодар, <br>ул. Московская 144 корп. - 1</div>
                    </div>
                    <div class="footerMail">
                        <div class="footerText">Почта:</div>
                        <div class="footerContent">mebelarko@mail.ru</div>
                    </div>
                </div>
                <div class="instagram">
                    <div class="instagramText">Мы в Инстаграме</div>
                    <div class="instagramLogo"><img src="images/instagramLogo.png" alt=""></div>
                </div>
            </div>
            <div class="rightFooter">
                <ul>
                    <li>Кухни</li>
                    <li><a href="#">Модульные кухни</a></li>
                    <li><a href="#">Готовые комплекты</a></li>
                    <li><a href="#">Маленькие кухни</a></li>
                    <li><a href="#">Угловые кухни</a></li>
                    <li><a href="#">Кухонные уголки</a></li>
                    <li><a href="#">Столы кухонные</a></li>
                    <li><a href="#">Стулья для кухни</a></li>
                    <li><a href="#">Комплектующие</a></li>
                </ul>

                <ul>
                    <li>Гостинные</li>
                    <li><a href="#">Модульные</a></li>
                    <li><a href="#">Журнальные столы</a></li>
                    <li><a href="#">Полки</a></li>
                    <li><a href="#">Тумбы под ТВ</a></li>
                    <li><a href="#">Шкафы</a></li>
                    <li><a href="#">Стеллажи</a></li>
                </ul>

                <ul>
                    <li>Спальни</li>
                    <li><a href="#">Кровати</a></li>
                    <li><a href="#">Матрацы</a></li>
                    <li><a href="#">Шкафы</a></li>
                    <li><a href="#">Комоды</a></li>
                    <li><a href="#">Столы туалетные</a></li>
                    <li><a href="#">Тумбы прикроватные</a></li>
                    <li><a href="#">Зеркала</a></li>
                </ul>

                <ul>
                    <li>Диваны</li>
                    <li><a href="#">Прямые</a></li>
                    <li><a href="#">Угловые</a></li>
                    <li><a href="#">На металлокаркасе</a></li>
                    <li><a href="#">Кресла</a></li>
                </ul>

                <ul>
                    <li>Детские</li>
                    <li><a href="#">Кровати</a></li>
                    <li><a href="#">Полки</a></li>
                    <li><a href="#">Столы</a></li>
                    <li><a href="#">Тумбы</a></li>
                    <li><a href="#">Шкафы</a></li>
                    <li><a href="#">Комоды</a></li>
                </ul>

                <ul>
                    <li>Прихожие</li>
                    <li><a href="#">Модульные</a></li>
                    <li><a href="#">Обувницы</a></li>
                </ul>

                <ul>
                    <li><a href="#">Шкафы-купе</a></li>
                </ul>
            </div>
        </div>