<button class="burger-menu" aria-label="Меню">
    <span></span>
    <span></span>
    <span></span>
</button>
<nav class="header1">
    <ul>
        <li class="city"><a href="#">Ростов</a></li>
        <li class="promo"><a href="#">Акции</a></li>
        <li class="assembly"><a href="#">Сборка</a></li>
        <li class="payment"><a href="#">Оплата</a></li>
        <li class="delivery"><a href="#">Доставка</a></li>
        <li class="our-work"><a href="registration.html">Регистрация</a></li>
        <li class="contacts"><a href="avtorization.html">Авторизация</a></li>
    </ul>
</nav>
<div class="header2">
    <div class="logo">
        <img src="images/logo.png" alt="">
    </div>
    <div class="location">
        ул. Московская, 144 корп. - 1
        <a>Схема проезда</a>
    </div>
    <div class="search">
        <div class="search-box">
            <input type="text" class="search-input" placeholder="Поиск">
        </div>
    </div>
    <div class="phoneNumber">
        <div class="number">
            <img src="images/Vector (1).png" alt="">
            <div>8 (961) 525 91 91</div>
        </div>
        <button class="phoneClick">Заказать звонок</button>
    </div>
    <div class="autorization">
        <img src="images/Войти.png" alt="">
        <div>Войти</div>
    </div>

    <a class="favoritesRef" href="favorites.html">
        <div class="liked">
            <img src="images/Нравится.png" alt="">
            <div>Избранное</div>
        </div>
    </a>
    <a class="cartRef" href="cart.html">
        <div class="basket">
            <img src="images/Корзина.png" alt="">
            <div>Корзина[<span id="cartCount">0</span>]</div>
        </div>
    </a>
</div>


<div class="header3">
    <div><a href="#">КУХНИ</a></div>
    <div><a href="#">ГОСТИННЫЕ</a></div>
    <div><a href="#">СПАЛЬНИ</a></div>
    <div><a href="#">ПРИХОЖИЕ</a></div>
    <div><a href="#">ШКАФЫ-КУПЕ</a></div>
    <div><a href="#">ДЕТСКИЕ</a></div>
    <div><a href="#">ДИВАНЫ</a></div>
    <div class="whereWatch"><a href="productCatalog.html">КАТАЛОГ</a></div>
</div>