.adminButtons {
    display: flex;
    flex-direction: row;
    gap: 8px;
}


.adminButtons button {
    max-width: 200px;
    line-height: 20px;
}

.buttonsText {
    font-size: 30px;
    margin-bottom: 20px;
}

.actionText {
    font-size: 30px;
    margin-top: 20px;
}

form {
    max-width: 500px;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid #ccc;
    padding: 20px;
}

.form-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-row label {
    min-width: 150px;
    font-weight: bold;
}

.form-row input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.agreement {
    margin-top: 40px;
}

.generateButtons {
    margin-top: 20px;
    flex-direction: row;
}

.generateButtons button {
    flex: 1;
}

.addButtonContainer {
    margin-top: 33px;
}

.registered:hover {
    transform: none;
}

.errorNickMessage {
    display: flex;
    justify-content: flex-end;
    margin-top: -20px;
}


.eventSection {
    display: none;
}

.searchForEdit,
.searchForDelete {
    min-width: 300px;
}

.searchResultBox,
.searchDeleteResultBox {
    max-width: 500px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.productForEdit,
.productForDelete {
    display: flex;
    flex-direction: row;
    border: 1px solid #384685;
    padding: 2px;
    gap: 30px;
    align-items: center;
    cursor: default;
}

.productForEdit div:first-child,
.productForDelete div:first-child {
    flex: 3;
}

.productForEdit div:not(first-child),
.productForDelete div:not(first-child) {
    flex: 1;
}

.productForEdit:hover,
.productForDelete:hover {
    background-color: rgb(244, 242, 242);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#editProductForm {
    margin-top: 20px;
    display: none;
}

.deleteProductButton {
    margin-top: 10px;
    max-width: 100px;
    display: none;
}


.sorting-select {
    padding: 10px 20px;
    font-size: 14px;
    border: 1px solid #384685;
    border-radius: 5px;
    background-color: white;
    color: #384685;
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 200px;
}

#searchParameterSelect {
    padding: 3.5px 20px;
}

.searchAndSelect {
    display: flex;
    flex-direction: column;
    gap: 4px
}

.searchReviewsByName {
    min-width: 260px;
}

.reviewContainer {
    display: flex;
    flex-direction: column;
}

.reviewHelement {
    display: flex;
    flex-direction: row;
    border: 1px solid #384685;
    height: auto;
    gap: 2px;
    cursor: pointer;
}

.reviewHelement div:nth-child(1) {
    flex: 1;
}

.reviewHelement div:nth-child(2) {
    flex: 0.5;
}

.reviewHelement div:nth-child(3) {
    flex: 2;
}


.reviewHelement:hover {
    background-color: rgb(234, 230, 230);
}

.deleteReview {
    margin-top: 10px;
}

