footer {
    margin-top: 71px;
    height: 583px;
    background-color: #384685;
    padding-left: calc(max(0px, (100vw - 1920px) / 2) + 200px);
    padding-right: calc(max(0px, (100vw - 1920px) / 2) + 200px);
    color: white;
}

footer > .wrapper {
    display: flex;
    flex-direction: row;
}

.leftFooter {
    flex: 0.35;
    display: flex;
    flex-direction: column;
    padding-top: 37px;
}

.footerLogo {
    flex: 1;
    max-width: 175px;
    max-height: 48px;
}

.footerLogo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footerNumber {
    margin-top: 5%;
    flex: 1;
    font-size: 20px;
    font-weight: bold;
    max-height: 25px;
}

.rightFooter {
    flex: 1;
}

.workTime, .footerAdress, .footerMail {
    display: flex;
    flex-direction: row;
}

.workTime > .footerText {
    flex: 0.56;
    font-size: 18px;
}

.workTime > .footerContent {
    flex:1;
    font-size: 18px;
    font-weight: bold;
}

.workTime {
    margin-top: 4.6%;
    max-height: 18px;
}

.footerAdress > .footerText {
    flex: 0.56;
    font-size: 18px;
}

.footerAdress > .footerContent {
    flex:1;
    font-size: 18px;
    font-weight: bold;
}

.footerAdress {
    margin-top: 4%;
}

.footerMail > .footerText {
    flex: 0.56;
    font-size: 18px;
}

.footerMail > .footerContent {
    flex:1;
    font-size: 18px;
    font-weight: bold;
}

.footerMail {
    margin-top: 2.2%;
}

.instagram {
    display: flex;
    margin-top: 15.9%;
    height: auto;
    flex-direction: column;
}

.instagramText {
    flex:1;
    font-size: 22px;
    font-weight: bold;
}

.instagramLogo {
    flex: 1;
    margin-top: 2%;
}


.rightFooter {
    display: flex;
    padding-top: 50px;
    flex-direction: row;
}

.rightFooter > ul {
    gap: 2px;
}

.rightFooter > ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.rightFooter > ul  {
    display: flex;
    flex-direction: column;
    gap: 23px;
    font-size: 18px;
}

.rightFooter > ul li:first-child {
    font-weight: bold;
    height: 18px;
    letter-spacing: 1px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a:hover {
    color: gray;
}

.rightFooter > ul:nth-child(1) {
    min-width: 153px;
}

.rightFooter > ul:nth-child(2) {
    min-width: 153px;
    margin-left: 39px;
}

.rightFooter > ul:nth-child(3) {
    min-width: 169px;
    margin-left: 27px;
}

.rightFooter > ul:nth-child(4) {
    min-width: 154px;
    margin-left:10px;
}

.rightFooter > ul:nth-child(5) {
    margin-left: 34px;
}

.rightFooter > ul:nth-child(6) {
    margin-left: 65px;
}

.rightFooter > ul:nth-child(7) {
    margin-left: 50px;
}

