 @media (max-width: 1440px) {
             .productCards {
                grid-template-columns: repeat(3, 1fr);
             }
         }

 @media (max-width: 1000px) {
             .productCards {
                grid-template-columns: repeat(2, 1fr);
             }
         }

 @media (max-width: 768px) {
             .productCards {
                grid-template-columns: repeat(1, 1fr);
                justify-items: center;
             }
         }